
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React Redux Practice</title>
    <link rel="stylesheet" href="/Build/build.css">
    <!--<a href="/swagger">API 文件</a>-->
</head>
<body>
    <div id="mount" style="margin-top: 20px;"></div>

    <script src="/Build/shim.js"></script>
    <script src="/Build/vendors.js"></script>
    <script src="/Build/app.js"></script>
</body>
</html>
